body {
  font-family: Arial, sans-serif;
}

#container {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
}
.drp {
margin: 10px 0px;
}
#result {
  margin-top: 20px;
  text-align: center;
}